* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{ background: #212223; }

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
}

.react-logo { height: 70px }

.container-primary {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-calculator {
  min-width: 300px;
  padding: 14px;
  border-radius: 5px;
  background: #99c9ff;
  border: 5px solid #212529;
  box-shadow: 0 8px 20px #000
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
